{% extends 'layout.html' %}

{% block content %}

<div class="text-center">
    <h1>Proyecto</h1>

    <h2>{{ post.title }}</h2>
    <a href="{{ post.url }}" class="btn btn-light rounded-0 btn-sm" target="_blank">{{ post.url }}</a>

    <div class="my-4">
        <p>{{ post.description|safe }}</p>
    </div>

    <div class="row">
        {% for image in post.images.all %}
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <div class="image-container">
                        <img src="{{ image.image.url }}" alt="{{ post.title }}" class="card-img-top">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
