{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand fw-bold fst-italic" href="/">Alex Hernandez</a>

      <!-- Enlaces de navegación y botón alineados horizontalmente -->
      <div class="navbar-nav ms-auto d-flex align-items-center">
          <a class="nav-link active" aria-current="page" href="{% url 'blog:posts' %}">Portafolio Git</a>
          <a class="btn btn-primary btn-sm ms-2" href="{% static 'portfolio/document.pdf' %}" target="_blank">Descargar CV</a>
      </div>
  </div>
</nav>